.commentCard {
  margin-bottom: 10px;
  width: 50rem;
}

.userMiniImage {
  width: 40px;
  padding: 5px;
}
.commentForm {
  margin-bottom: 10px;
}
/* .commentCardBody {
  width: 70px;
} */

.commentCardContainer {
  border: 1px solid;
}
